$color: #000;
$white: #FFF;
$font: Century Gothic, sans-serif;
$margin: 0;
$padding: 0;
$grey: #c0b9b9;

    body {
        margin: $margin;
        padding: $padding;
        background-size: cover;
        background-color: $grey;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
        width: 100vw;
    }

@mixin form-container ($width, $height, $size, $background, $border, $m) {
      width: $width;
      height: $height;
      font-size: $size;
      color: $color;
      background: $white;
      border-radius: $border;
      margin: $m;
}

.form-container {
    @include form-container (450px, 550px, 25px, #FFF, 13px, auto);

    form {
        display: flex;
        flex-direction: column;
        align-items: center;

        .name, .email {
            display: flex;
            justify-content: space-between;
            width: 60%;
            margin-bottom: 20px;
        }

        .comment {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .btn {
            margin-top: 30px;
        }

    }
}

@mixin h2 ($ta, $padding, $font) {
    text-align: $ta;
    padding: $padding;
    font-family: $font;
}

h2 {
    @include h2 (center, 20px, $font);
}