/Ejercicio\ Clase\ 14,\ Testing/node_modules/
/Create\ Ejercicio\ Clases\ 17-18-19-20-22,\ App\ React\ Pescaderia/App-React-Project-Fish-Market-Bootcamp/node_modules/
/Create\ Ejercicio\ Clases\ 17-18-19-20-22,\ App\ React\ Pescaderia/App-React-Project-Fish-Market-Bootcamp/.pnp
/Create\ Ejercicio\ Clases\ 17-18-19-20-22,\ App\ React\ Pescaderia/App-React-Project-Fish-Market-Bootcamp/.pnp.js
/Create\ Ejercicio\ Clases\ 17-18-19-20-22,\ App\ React\ Pescaderia/App-React-Project-Fish-Market-Bootcamp/coverage

# production
/Create\ Ejercicio\ Clases\ 17-18-19-20-22,\ App\ React\ Pescaderia/App-React-Project-Fish-Market-Bootcamp/build

# misc
/Create\ Ejercicio\ Clases\ 17-18-19-20-22,\ App\ React\ Pescaderia/App-React-Project-Fish-Market-Bootcamp/.DS_Store
/Create\ Ejercicio\ Clases\ 17-18-19-20-22,\ App\ React\ Pescaderia/App-React-Project-Fish-Market-Bootcamp/.env.local
/Create\ Ejercicio\ Clases\ 17-18-19-20-22,\ App\ React\ Pescaderia/App-React-Project-Fish-Market-Bootcamp/.env.development.local
/Create\ Ejercicio\ Clases\ 17-18-19-20-22,\ App\ React\ Pescaderia/App-React-Project-Fish-Market-Bootcamp/.env.test.local
/Create\ Ejercicio\ Clases\ 17-18-19-20-22,\ App\ React\ Pescaderia/App-React-Project-Fish-Market-Bootcamp/.env.production.local

/Create\ Ejercicio\ Clases\ 17-18-19-20-22,\ App\ React\ Pescaderia/App-React-Project-Fish-Market-Bootcamp/npm-debug.log*
/Create\ Ejercicio\ Clases\ 17-18-19-20-22,\ App\ React\ Pescaderia/App-React-Project-Fish-Market-Bootcamp/yarn-debug.log*
/Create\ Ejercicio\ Clases\ 17-18-19-20-22,\ App\ React\ Pescaderia/App-React-Project-Fish-Market-Bootcamp/yarn-error.log*

/Create\ Ejercicio\ Clases\ 17-18-19-20-22,\ App\ React\ Pescaderia/App-React-Project-Fish-Market-Bootcamp/.vercel