/Ejercicio\ Clase\ 14,\ Testing/node_modules/
/Ejercicio\ Clases\ 17-18-19-20-22,\ App\ React\ Pescaderia/App-React-Project-Fish-Market-Bootcamp/node_modules/
/Ejercicio\ Clases\ 17-18-19-20-22,\ App\ React\ Pescaderia/App-React-Project-Fish-Market-Bootcamp/.pnp
/Ejercicio\ Clases\ 17-18-19-20-22,\ App\ React\ Pescaderia/App-React-Project-Fish-Market-Bootcamp/.pnp.js
/Ejercicio\ Clases\ 17-18-19-20-22,\ App\ React\ Pescaderia/App-React-Project-Fish-Market-Bootcamp/coverage

# production
/Ejercicio\ Clases\ 17-18-19-20-22,\ App\ React\ Pescaderia/App-React-Project-Fish-Market-Bootcamp/build

# misc
/Ejercicio\ Clases\ 17-18-19-20-22,\ App\ React\ Pescaderia/App-React-Project-Fish-Market-Bootcamp/.DS_Store
/Ejercicio\ Clases\ 17-18-19-20-22,\ App\ React\ Pescaderia/App-React-Project-Fish-Market-Bootcamp/.env.local
/Ejercicio\ Clases\ 17-18-19-20-22,\ App\ React\ Pescaderia/App-React-Project-Fish-Market-Bootcamp/.env.development.local
/Ejercicio\ Clases\ 17-18-19-20-22,\ App\ React\ Pescaderia/App-React-Project-Fish-Market-Bootcamp/.env.test.local
/Ejercicio\ Clases\ 17-18-19-20-22,\ App\ React\ Pescaderia/App-React-Project-Fish-Market-Bootcamp/.env.production.local

/Ejercicio\ Clases\ 17-18-19-20-22,\ App\ React\ Pescaderia/App-React-Project-Fish-Market-Bootcamp/npm-debug.log*
/Ejercicio\ Clases\ 17-18-19-20-22,\ App\ React\ Pescaderia/App-React-Project-Fish-Market-Bootcamp/yarn-debug.log*
/Ejercicio\ Clases\ 17-18-19-20-22,\ App\ React\ Pescaderia/App-React-Project-Fish-Market-Bootcamp/yarn-error.log*

/Ejercicio\ Clases\ 17-18-19-20-22,\ App\ React\ Pescaderia/App-React-Project-Fish-Market-Bootcamp/.vercel 
/Ejercicio\ Clase\ 21/shared-book/node_modules/
/Ejercicio\ Clase\ 21/shared-book/build/

# Class16

/Ejercicio\ Clase\ 16,\ Intro\ React\ -\ Creacion\ basica\ componentes/node_modules/
/Ejercicio\ Clase\ 16,\ Intro\ React\ -\ Creacion\ basica\ componentes/build/