body {
    background-image: url(background.jpg);
    background-size: 100vw 100vh;
    background-attachment: fixed;
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

::-webkit-scrollbar {
    width: 12px;
    background-color: #903575;
    box-shadow: inset 0 0 6px rgba(0,0,0,.5);
  }
  
::-webkit-scrollbar-thumb {
    border-radius: 50px;
    background-color: #472c68;
    box-shadow: inset 0 0 5px rgba(0,0,0,.5);
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}

.form {
    width: 500px;
    height: 560px;
    margin: auto;
    background: rgba(0,0,0,0.4);
    padding: 15px 20px;
    box-sizing: border-box;
    margin-top: -100px;
    margin-bottom: 40px;
    border-radius: 9px;
}

img {
    margin-top: 20px;
    margin-left: 44%;
    border-radius: 100px;
    border: 5px solid #000;
    width: 165px;
    height: 170px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
}

.form__title {
    color: #fff;
    text-align: center;
    margin: 0;
    font-size: 35px;
    margin-top: 90px;
    text-shadow: 2px 2px black;
}

.form__description {
    text-align: center;
    margin-top: 5px;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
}

label {
    color: #d6caca;
    font-size: 17px;
    font-weight: 700;
    margin-top: 60px;
}

input, textarea {
    width: 100%;
    margin-bottom: 20px;
    padding: 9px;
    box-sizing: border-box;
    font-size: 15px;
    border: none;
}

textarea {
    min-height: 100px;
    max-height: 200px;
    max-width: 100%;
}

.form__button {
    background: #ae99b8;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 17px;
    color: #000;
    padding: 15px;
    margin-top: -10px;
    border-radius: 40px;
}

    .form__button:hover {
        cursor: pointer;
        background: #2079b0;
        background-image: -webkit-linear-gradient(top, #2079b0, #eb94d0);
        background-image: -moz-linear-gradient(top, #2079b0, #eb94d0);
        background-image: -ms-linear-gradient(top, #2079b0, #eb94d0);
        background-image: -o-linear-gradient(top, #2079b0, #eb94d0);
        background-image: linear-gradient(to bottom, #2079b0, #eb94d0);
        text-decoration: none;
    }

    .form__button:active {
        color: #570b7a;
    }
    
.footer h1 {
    font-size: 20px;
    font-style: italic;
    color: #fff;
    text-align: right;
    padding: 10px;
}
    
.footer__author {
    font-size: 17px;
    font-weight: 500;
    color: #fff;
    text-align: right;
    padding: 10px;
    margin-top: -20px;
}
     
    
@media (max-width:521px) {
    form{
        width: 100%;
    }
}
